.App {
  text-align: center;
  background-color: black;
  margin-top: 3.9rem;
}

::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background: lightblue;
  border-radius: 50px;

}

::-webkit-scrollbar-track{
  background: black;
}


